<header>
  <ul>
    <!--[routerLinkActive]="['actived']" es para que se que de sombreda en lapagina que estas y esta vinvulada con css-->
    <li><a [routerLink]="['/sobre-mi']" [routerLinkActive]="['actived']">Sobre Mi</a></li>
    <li><a [routerLink]="['/proyectos']"[routerLinkActive]="['actived']">Proyectos</a></li>
    <li id="logo"><a href="#">MS</a></li>
    <li><a [routerLink]="['/crear-proyecto']"[routerLinkActive]="['actived']">Crear proyecto</a></li>
    <li><a [routerLink]="['/contacto']"[routerLinkActive]="['actived']">Contacto</a></li>
  </ul>
</header>
<section id="content">
  <router-outlet></router-outlet> 
</section>
<footer>
  Codigo en Javascript de Mario Salamanca &copy;
</footer>


